In [8]:
##!pip install finnhub-python

Collecting finnhub-python
  Using cached finnhub_python-2.1.0-py3-none-any.whl (9.6 kB)
Requirement already satisfied: requests>=2.22.0 in c:\programdata\anaconda3\envs\notebook-6.0.3_1\lib\site-packages (from finnhub-python) (2.22.0)
Requirement already satisfied: idna<2.9,>=2.5 in c:\programdata\anaconda3\envs\notebook-6.0.3_1\lib\site-packages (from requests>=2.22.0->finnhub-python) (2.8)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in c:\programdata\anaconda3\envs\notebook-6.0.3_1\lib\site-packages (from requests>=2.22.0->finnhub-python) (1.25.8)
Requirement already satisfied: certifi>=2017.4.17 in c:\programdata\anaconda3\envs\notebook-6.0.3_1\lib\site-packages (from requests>=2.22.0->finnhub-python) (2019.11.28)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in c:\programdata\anaconda3\envs\notebook-6.0.3_1\lib\site-packages (from requests>=2.22.0->finnhub-python) (3.0.4)
Installing collected packages: finnhub-python
Successfully installed finnhub-python-2.1.0

In [13]:
import finnhub
import pandas as pd
import time

In [10]:
# Setup client
finnhub_client = finnhub.Client(api_key="bs8g407rh5r8i6g9ii8g")

In [52]:
client_test = finnhub.Client()

TypeError: __init__() missing 1 required positional argument: 'api_key'

In [11]:
# Stock candles
res = finnhub_client.stock_candles('AAPL', 'D', 1590988249, 1591852249)
print(res)

{'c': [321.85, 323.34, 325.12, 322.32, 331.5, 333.46, 343.99, 352.84], 'h': [322.35, 323.44, 326.2, 325.62, 331.75, 333.6, 345.61, 354.77], 'l': [317.21, 318.93, 322.3, 320.78, 323.23, 327.32, 332.01, 346.09], 'o': [317.75, 320.75, 324.66, 324.39, 323.35, 330.25, 332.14, 347.9], 's': 'ok', 't': [1590969600, 1591056000, 1591142400, 1591228800, 1591315200, 1591574400, 1591660800, 1591747200], 'v': [20197800, 21910700, 26122800, 21890100, 34312600, 23913600, 36928100, 41662900]}

In [14]:
print(pd.DataFrame(res))

        c       h       l       o   s           t         v
0  321.85  322.35  317.21  317.75  ok  1590969600  20197800
1  323.34  323.44  318.93  320.75  ok  1591056000  21910700
2  325.12  326.20  322.30  324.66  ok  1591142400  26122800
3  322.32  325.62  320.78  324.39  ok  1591228800  21890100
4  331.50  331.75  323.23  323.35  ok  1591315200  34312600
5  333.46  333.60  327.32  330.25  ok  1591574400  23913600
6  343.99  345.61  332.01  332.14  ok  1591660800  36928100
7  352.84  354.77  346.09  347.90  ok  1591747200  41662900

In [92]:
#api call
#Current client input for finnhub should be in format {finnhub.Client(api_key="key")}
#Should be changeable with other clients, but may need to add some stuff if inputs are different
#trying out classes within classes as well

#class APICall:
#    '''Currently looks for a API client input with key.
#        Can also be followed by the Ticker subclass with a ticker, frequency, and time start and end in UNIX format'''
#    def __init__(self, client):
#        self.client = client
#    class Ticker:
#        '''Currently meant for Finnhub'''
#        def __init__(self, ticker, frequency, time_start, time_end):
#            self.t = ticker
#            self.f = frequency
#            self.start = time_start
#            self.end = time_end
#        
#        #Stock Candle
#        def candle(self):
#            return pd.DataFrame(finnhub_client.stock_candles(self.t, self.f, self.start, self.end))
#                                '_____________'
#Technically works, but uses the external client

In [114]:
#api call
#Current client input for finnhub should be in format {finnhub.Client(api_key="key")}
#Should be changeable with other clients, but may need to add some stuff if inputs are different
#trying out classes within classes as well

class APICall:
    '''Currently looks for a API client input with key.
        Can also be followed by the Ticker subclass with a ticker, frequency, and time start and end in UNIX format'''
    def __init__(self, client):
        self.client = client
    
    def candle(self, t, f, start, end):
        return pd.DataFrame(self.client.stock_candles(t,f,start,end))
        
    class Ticker:
        '''Currently meant for Finnhub'''
        def __init__(self, ticker, frequency, time_start, time_end):
            self.t = ticker
            self.f = frequency
            self.start = time_start
            self.end = time_end
            
        
#        #Stock Candle
#        def candle(self):
#            #return pd.DataFrame(outerClassSelf.client.stock_candles(self.t, self.f, self.start, self.end))
#            return pd.DataFrame(self.stock_candles(self.t, self.f, self.start, self.end))
#        #Can also add any of the other desired functions, but just testing things for now
FinnHub = APICall(finnhub.Client(api_key="bs8g407rh5r8i6g9ii8g"))
CurrentTime=round(time.time())
FinnHub.AAPL = FinnHub.Ticker('AAPL', 'D', (CurrentTime - 1209600), CurrentTime)
FinnHub.candle(FinnHub.AAPL.t, FinnHub.AAPL.f, FinnHub.AAPL.start, FinnHub.AAPL.end)

        c       h       l       o   s           t          v
0  379.24  379.62  373.92  374.84  ok  1595808000   59134131
1  373.01  378.20  372.99  377.47  ok  1595894400   25906400
2  380.16  380.92  374.85  375.00  ok  1595980800   22582300
3  384.76  385.19  375.07  376.75  ok  1596067200   39532500
4  425.04  425.66  403.30  411.54  ok  1596153600   93584200
5  435.75  446.55  431.57  432.80  ok  1596412800  153274806
6  438.66  443.16  433.55  436.53  ok  1596499200   43267900
7  440.25  441.57  435.59  437.51  ok  1596585600   30444200
8  455.61  457.65  439.50  441.62  ok  1596672000   49322586
9  444.45  454.70  441.17  452.82  ok  1596807000   49453300

In [108]:
class APICall:
    '''Currently looks for a API client input with key.
        Can also be followed by the Ticker subclass with a ticker, frequency, and time start and end in UNIX format'''
    def __init__(self, client):
        self.client = client
        
FinnHub = APICall(finnhub.Client(api_key="bs8g407rh5r8i6g9ii8g"))        

class Ticker:
    '''Currently meant for Finnhub'''
    def __init__(self, ticker, frequency, time_start, time_end):
        self.t = ticker
        self.f = frequency
        self.start = time_start
        self.end = time_end
        
    #Stock Candle
    def candle(self):
        #return pd.DataFrame(outerClassSelf.client.stock_candles(self.t, self.f, self.start, self.end))
        return pd.DataFrame(FinnHub.client.stock_candles(self.t, self.f, self.start, self.end))
    #Can also add any of the other desired functions, but just testing things for now

CurrentTime=round(time.time())
AAPL = Ticker('AAPL', 'D', (CurrentTime - 1209600), CurrentTime)
AAPL.candle()

        c       h       l       o   s           t          v
0  379.24  379.62  373.92  374.84  ok  1595808000   59134131
1  373.01  378.20  372.99  377.47  ok  1595894400   25906400
2  380.16  380.92  374.85  375.00  ok  1595980800   22582300
3  384.76  385.19  375.07  376.75  ok  1596067200   39532500
4  425.04  425.66  403.30  411.54  ok  1596153600   93584200
5  435.75  446.55  431.57  432.80  ok  1596412800  153274806
6  438.66  443.16  433.55  436.53  ok  1596499200   43267900
7  440.25  441.57  435.59  437.51  ok  1596585600   30444200
8  455.61  457.65  439.50  441.62  ok  1596672000   49322586
9  444.45  454.70  441.17  452.82  ok  1596807000   49453300

In [102]:
FinnHub = APICall(finnhub.Client(api_key="bs8g407rh5r8i6g9ii8g"))
FinnHub.AAPL = FinnHub.Ticker('AAPL', 'D', (CurrentTime - 1209600), CurrentTime)
vars(FinnHub.AAPL)

{'t': 'AAPL', 'f': 'D', 'start': 1595783340, 'end': 1596992940}

In [105]:
pd.DataFrame(FinnHub.client.stock_candles(FinnHub.AAPL.t, FinnHub.AAPL.f, FinnHub.AAPL.start, FinnHub.AAPL.end))

        c       h       l       o   s           t          v
0  379.24  379.62  373.92  374.84  ok  1595808000   59134131
1  373.01  378.20  372.99  377.47  ok  1595894400   25906400
2  380.16  380.92  374.85  375.00  ok  1595980800   22582300
3  384.76  385.19  375.07  376.75  ok  1596067200   39532500
4  425.04  425.66  403.30  411.54  ok  1596153600   93584200
5  435.75  446.55  431.57  432.80  ok  1596412800  153274806
6  438.66  443.16  433.55  436.53  ok  1596499200   43267900
7  440.25  441.57  435.59  437.51  ok  1596585600   30444200
8  455.61  457.65  439.50  441.62  ok  1596672000   49322586
9  444.45  454.70  441.17  452.82  ok  1596807000   49453300

In [94]:
FinnHub.AAPL.candle()

AttributeError: 'Ticker' object has no attribute 'stock_candles'

In [49]:
#May not be necessary, but turning the ticker input into its own class
class Ticker:
    def __init__(self, ticker, frequency, time_start, time_end):
        self.t = ticker
        self.f = frequency
        self.start = time_start
        self.end = time_end
    
    #Stock Candle
    def candle(self):
        return pd.DataFrame(finnhub_client.stock_candles(self.t, self.f, self.start, self.end))

In [50]:
#Test for the current time and going back two weeks
CurrentTime=round(time.time())
AAPL = Ticker('AAPL', 'D', (CurrentTime - 1209600), CurrentTime)
AAPL.candle()

        c       h       l       o   s           t          v
0  379.24  379.62  373.92  374.84  ok  1595808000   59134131
1  373.01  378.20  372.99  377.47  ok  1595894400   25906400
2  380.16  380.92  374.85  375.00  ok  1595980800   22582300
3  384.76  385.19  375.07  376.75  ok  1596067200   39532500
4  425.04  425.66  403.30  411.54  ok  1596153600   93584200
5  435.75  446.55  431.57  432.80  ok  1596412800  153274806
6  438.66  443.16  433.55  436.53  ok  1596499200   43267900
7  440.25  441.57  435.59  437.51  ok  1596585600   30444200
8  455.61  457.65  439.50  441.62  ok  1596672000   49322586
9  444.45  454.70  441.17  452.82  ok  1596807000   49453300

In [46]:
#vars(AAPL)

{'t': 'AAPL', 'f': 'D', 'start': 1595782763, 'end': 1596992363}

        c       h       l       o   s           t          v
0  379.24  379.62  373.92  374.84  ok  1595808000   59134131
1  373.01  378.20  372.99  377.47  ok  1595894400   25906400
2  380.16  380.92  374.85  375.00  ok  1595980800   22582300
3  384.76  385.19  375.07  376.75  ok  1596067200   39532500
4  425.04  425.66  403.30  411.54  ok  1596153600   93584200
5  435.75  446.55  431.57  432.80  ok  1596412800  153274806
6  438.66  443.16  433.55  436.53  ok  1596499200   43267900
7  440.25  441.57  435.59  437.51  ok  1596585600   30444200
8  455.61  457.65  439.50  441.62  ok  1596672000   49322586
9  444.45  454.70  441.17  452.82  ok  1596807000   49453300